.container{
    width: 640px;
    margin-top: 150px;
    background: white;
    color: rgb(27, 5, 45);
    display: flex;
    flex-direction: column;
    gap: 20px;
    border-radius: 10px;
    padding: 40px 50px;
    max-width: fit-content;
    margin-inline: auto;
}

.container hr{
    height: 2px;
    border: none;
    background: rgb(180, 173, 173);

}
.container .question-text{
    font-size: 20px;
    font-weight: 500;
    color: black;
}

.container button{
    margin:auto;
    width: 250px;
    height: 65px;
    background: rgb(62, 62, 133);
    color: azure;
    font-size: 18px;
    font-weight: 500;
    border-radius: 8px;
    cursor: pointer;
}
